<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %>
      <% else %>
        Welcome to InstaPets 
      <%end%>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section>
      <nav>
        <%= link_to 'Home', welcome_home_path %>
        <% if user_signed_in? %>
          <%= link_to 'Logout', logout_path %>
          <% else %>
          <%= link_to 'Login', login_path %>
        <%end%>
      </nav>
    </section>

    <hr>
    
    <section>
      <p class="notice"> <%= notice %> </p>
      <p class="alert"> <%= alert %> </p>
      <%= yield %>
    </section>
    
    <hr>
    
    <section>
      <small>InstaPets Inc ~copy; All rights reserved</small>
    </section>
  </body>
</html>
