<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %>
      <% else %>
        Welcome to InstaPets 
      <%end%>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="container">
      <section>
     <nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:3000/welcome/index">InstaPets</a>
      <div class="nav">
        <%= link_to 'Home', welcome_home_path, class: 'link-to-text-color' %>
        <%= link_to 'Photo list', photos_path, class: 'link-to-text-color' %>
        <% if user_signed_in? %>
        <%= link_to 'My photos', my_photos_path, class: 'link-to-text-color' %>
       <%= link_to 'Upload a photo', new_photo_path, class: 'link-to-text-color' %>
       <%= link_to 'Logout', destroy_user_session_path, class: 'link-to-text-color', :method => :delete %>
        <% else %>
       <%= link_to 'Login', new_user_session_path, class: 'link-to-text-color' %>
        <%end%>
      </div>
  </div>
</nav>
     
    </section>
    
    <section>
      <% if flash[:notice] %>
        <p class="alert alert-info"> <%= notice %> </p>
      <%end%>
      <% if flash[:alert] %>
        <p class="alert alert-danger"> <%= alert %> </p>
      <%end%>
      <%= yield %>
    </section>
    
    <hr>
    
    <section>
      <small>InstaPets Inc &copy; All rights reserved</small>
    </section>
    </section>

    
  </body>
</html>
